@import "tailwindcss";
body {
  cursor: none;
}

.golden-title {
  font-family: 'Great Vibes', cursive;
  background: linear-gradient(
    90deg,
    #ffcc33,
    #ffdd55,
    #ffb700,
    #fff2a8,
    #ffcc33
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 8px rgba(255, 204, 51, 0.8),
    0 0 15px rgba(255, 184, 0, 0.7),
    0 0 25px rgba(255, 153, 0, 0.6);
  letter-spacing: 2px;

}

/* PHONE INPUT DARK THEME FIX */

.react-tel-input .form-control {
  background-color: #0e061a !important;
  color: white !important;
  border: 1px solid rgba(255,255,255,0.4) !important;
}

.react-tel-input .flag-dropdown {
  background-color: #0e061a !important;
  border: 1px solid rgba(255,255,255,0.4) !important;
}

.react-tel-input .selected-flag {
  background-color: #0e061a !important;
}

.react-tel-input .country-list {
  background-color: #12061f !important;
  color: white !important;
}

.react-tel-input .country-list .country {
  color: white !important;
  padding: 10px !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #1a0c2e !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: #facc15 !important;
  color: black !important;
}